.site-header {

	.site-nav {
		.top-level-link {
			text-transform: uppercase;
			font-size: 0.8125rem;
			letter-spacing: 0.05em;
			font-weight: bold;

			@include desktop-small {
				font-size: 0.75rem;
			}

			@include desktop-medium {
				font-size: 0.8125rem;
			}

			&:hover {
				text-decoration: underline;
			}
		}

		.dropdown {
			.top-level-link {
				&:hover {
					text-decoration: none;
				}

				&:after {
					background-image: url(images/icon-dropdown-arrow.svg);
				}
			}
		}

		.sub-nav {
			border-radius: 3px;
			box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
		}
	}
}


.page-header {
	color: $blue;
	background: $off-white;
	box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
	
	h1 {
		padding-bottom: 10px;
	}

	h2 {
		font-size: 0.875rem;
	}
}
