.dark-theme {
	background: $blue;
	color: $white;

	& + .dark-theme {
		border-top: 1px solid $light-blue;
	}

	a {
		color: $white;
	}

	.section-header {
		h4 {
			color: $red;
		}
	}

	.footnotes {
		border-top-color: $light-blue;
	}
}