.impact-section {
	.section-header {
		h4 {
			@include monospace;
			font-size: 1rem;

			@include tablet {
				font-size: 1.125rem;
			}
		}

		h2 {
			font-size: 1.5rem;

			@include tablet {
				font-size: 2rem;
			}
		}
	}
}