/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-Book.eot");
  src: url("fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("fonts/CircularStd-Book.woff") format("woff"), url("fonts/CircularStd-Book.ttf") format("truetype"), url("fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-BookItalic.eot");
  src: url("fonts/CircularStd-BookItalic.eot?#iefix") format("embedded-opentype"), url("fonts/CircularStd-BookItalic.woff") format("woff"), url("fonts/CircularStd-BookItalic.ttf") format("truetype"), url("fonts/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-Bold.eot");
  src: url("fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/CircularStd-Bold.woff") format("woff"), url("fonts/CircularStd-Bold.ttf") format("truetype"), url("fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-BoldItalic.eot");
  src: url("fonts/CircularStd-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/CircularStd-BoldItalic.woff") format("woff"), url("fonts/CircularStd-BoldItalic.ttf") format("truetype"), url("fonts/CircularStd-BoldItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Revelstoke Regular';
  src: url("fonts/revelstoke-regular-webfont.woff2") format("woff2"), url("fonts/revelstoke-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.cta .btn {
  color: #B54646;
  border: 2px solid #B54646;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.02em; }
  .cta .btn:hover {
    background: #B54646;
    color: #F7F9FB; }

.ba-slider .handle:after {
  background: #246B80;
  box-shadow: none;
  border: none;
  content: '\2194';
  line-height: 60px; }

.ba-slider.draggable:after {
  line-height: 46px; }

.ba-slider .caption {
  background: rgba(255, 255, 255, 0.7);
  color: #0E3D4B;
  padding: 15px;
  font-size: 1rem;
  line-height: 1.25em;
  text-align: left;
  font-family: "Crimson Text", serif;
  font-style: italic; }
  @media screen and (min-width: 992px) {
    .ba-slider .caption {
      font-size: 1rem; } }

.download-report a {
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); }
  .download-report a .details {
    font-family: "Revelstoke Regular", monospace;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.75rem;
    color: #6A6A6A;
    padding-left: 3px; }

body,
button,
input,
select,
optgroup,
textarea {
  font-family: "CircularStd", sans-serif; }

a {
  color: #0E3D4B; }

.site-content .headline h1, .site-content .headline h2, .site-content .headline h3, .site-content .headline h4, .site-content .headline h5, .site-content .headline h6 {
  color: #0E3D4B; }

.site-content .hero .headline h1, .site-content .hero .headline h2, .site-content .hero .headline h3, .site-content .hero .headline h4, .site-content .hero .headline h5, .site-content .hero .headline h6 {
  color: #fff; }

.p2 {
  font-family: "Crimson Text", serif;
  font-size: 1.25rem; }
  @media screen and (min-width: 992px) {
    .p2 {
      font-size: 1.375rem; } }

.credit {
  font-family: "Revelstoke Regular", monospace;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.875rem; }

.footnotes {
  font-family: "CircularStd", sans-serif;
  font-style: italic;
  font-size: 1rem; }
  .footnotes a {
    color: #B54646;
    text-decoration: underline; }

body {
  background: #F7F9FB; }

.site {
  border-color: #0E3D4B; }

.light-theme .section-header h4 {
  color: #B54646; }

.medium-theme {
  background: #F1F1EE; }
  .medium-theme .section-header h4 {
    color: #B54646; }

.dark-theme {
  background: #0E3D4B;
  color: #fff; }
  .dark-theme + .dark-theme {
    border-top: 1px solid #246B80; }
  .dark-theme a {
    color: #fff; }
  .dark-theme .section-header h4 {
    color: #B54646; }
  .dark-theme .footnotes {
    border-top-color: #246B80; }

/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/
.site-header .site-nav .top-level-link {
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0.05em;
  font-weight: bold; }
  @media screen and (min-width: 992px) {
    .site-header .site-nav .top-level-link {
      font-size: 0.75rem; } }
  @media screen and (min-width: 1280px) {
    .site-header .site-nav .top-level-link {
      font-size: 0.8125rem; } }
  .site-header .site-nav .top-level-link:hover {
    text-decoration: underline; }

.site-header .site-nav .dropdown .top-level-link:hover {
  text-decoration: none; }

.site-header .site-nav .dropdown .top-level-link:after {
  background-image: url(images/icon-dropdown-arrow.svg); }

.site-header .site-nav .sub-nav {
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); }

.page-header {
  color: #0E3D4B;
  background: #F7F9FB;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1); }
  .page-header h1 {
    padding-bottom: 10px; }
  .page-header h2 {
    font-size: 0.875rem; }

.site-footer {
  background: #0E3D4B;
  border-top: 1px solid #246B80; }
  .site-footer .site-info .project-info h5 {
    font-family: "Revelstoke Regular", monospace;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.9375rem;
    font-weight: 400; }

/*

    ----------------------------------------------------------------------
                                03 Template Parts
    ----------------------------------------------------------------------

*/
.subscribe {
  background: #0E3D4B;
  color: #fff; }
  .subscribe .headline h5 {
    color: #fff; }
  .subscribe form .submit input {
    background: #246B80;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.8125rem; }

.social-links {
  padding-top: 2rem; }
  .social-links .link a .icon:before {
    content: '';
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; }
  .social-links .link a.facebook .icon:before {
    background-image: url(images/icon-facebook-white.svg); }
  .social-links .link a.instagram .icon:before {
    background-image: url(images/icon-instagram-white.svg); }
  .social-links .link a.twitter .icon:before {
    background-image: url(images/icon-twitter-white.svg); }

/*

    ----------------------------------------------------------------------
                                03 Templates
    ----------------------------------------------------------------------

*/
body.page-template-homepage section.home-hero .project-info {
  color: #0E3D4B;
  background: rgba(255, 255, 255, 0.5); }
  @media screen and (min-width: 992px) {
    body.page-template-homepage section.home-hero .project-info {
      background: none; } }
  body.page-template-homepage section.home-hero .project-info h5 {
    font-family: "Revelstoke Regular", monospace;
    text-transform: uppercase;
    letter-spacing: 0.05em; }

body.page-template-project-overview .site-content .project-background {
  background: #0E3D4B; }
  body.page-template-project-overview .site-content .project-background * {
    color: #fff; }

body.page-template-project-overview .site-content .location {
  background: #F1F1EE; }

body.page-template-project-overview .site-content .project-objectives {
  background: #246B80; }
  body.page-template-project-overview .site-content .project-objectives * {
    color: #fff; }

body.page-template-project-overview .site-content .timeline .date h5 {
  font-family: "Revelstoke Regular", monospace;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1rem;
  color: #B54646; }

body.page-template-project-overview .site-content .summary {
  background: #F1F1EE; }

body.page-template-alternatives .tabs .tab-links {
  border-color: #0E3D4B; }
  body.page-template-alternatives .tabs .tab-links a {
    transition: all 0.2s ease-in;
    border-color: #0E3D4B;
    color: #0E3D4B; }
    body.page-template-alternatives .tabs .tab-links a:hover, body.page-template-alternatives .tabs .tab-links a.active {
      background: #0E3D4B;
      color: #fff;
      border: 2px solid #0E3D4B;
      border-bottom: none; }

body.page-template-alternatives section.alternative .toggle-bar {
  font-family: "Revelstoke Regular", monospace;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background: #0E3D4B;
  padding-bottom: 0.8125rem; }

.impact-section .section-header h4 {
  font-family: "Revelstoke Regular", monospace;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1rem; }
  @media screen and (min-width: 768px) {
    .impact-section .section-header h4 {
      font-size: 1.125rem; } }

.impact-section .section-header h2 {
  font-size: 1.5rem; }
  @media screen and (min-width: 768px) {
    .impact-section .section-header h2 {
      font-size: 2rem; } }

.key-findings.impact-section .info ul li:before {
  background: #B54646; }

.key-findings.impact-section a {
  color: #B54646; }

.video.impact-section .video-player .time {
  background: #B54646;
  color: #fff;
  font-family: "Revelstoke Regular", monospace;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1rem;
  padding: 8px 12px 6px 12px; }

.video.impact-section .copy .credit:before {
  content: '';
  display: block;
  width: 70px;
  height: 4px;
  background: #0E3D4B;
  margin-bottom: 0.5rem; }

.video.impact-section.dark-theme .copy .credit:before {
  background: #fff; }

.map.impact-section .copy .credit:before {
  content: '';
  display: block;
  width: 70px;
  height: 4px;
  background: #0E3D4B;
  margin-bottom: 0.5rem; }

.map.impact-section.dark-theme .copy .credit:before {
  background: #fff; }

.audio.impact-section .sc_player_container1 .myButton_play,
.audio.impact-section .sc_player_container1 .myButton_stop {
  background-color: #B54646 !important; }

.audio.impact-section .audio-files .file + .file {
  border-top: 1px solid #B54646; }

.audio.impact-section .audio-files .info .headline h3 {
  font-weight: bold; }

.audio.impact-section.dark-theme .audio-files .file + .file {
  border-top: 1px solid #246B80; }

.audio.impact-section.dark-theme .sc_player_container1 .myButton_play,
.audio.impact-section.dark-theme .sc_player_container1 .myButton_stop {
  background-color: #246B80 !important; }

body.page-template-resources .filter {
  background: #F1F1EE;
  padding-top: 3rem; }
  body.page-template-resources .filter form {
    padding-bottom: 0.25rem; }
    body.page-template-resources .filter form label {
      color: #0E3D4B; }
    body.page-template-resources .filter form input[type="search"] {
      border-radius: 3px;
      box-shadow: 0 0 8px rgba(36, 107, 128, 0.25); }
      body.page-template-resources .filter form input[type="search"]::-webkit-input-placeholder {
        color: #000; }
      body.page-template-resources .filter form input[type="search"]::-moz-placeholder {
        color: #000; }
      body.page-template-resources .filter form input[type="search"]:-moz-placeholder {
        color: #000; }
      body.page-template-resources .filter form input[type="search"]:-ms-input-placeholder {
        color: #000; }

body.page-template-resources section.documents {
  background: #F1F1EE; }

body.page-template-resources .documents-categories {
  background: #0E3D4B;
  color: #fff; }
  body.page-template-resources .documents-categories .section-header {
    background: #246B80; }
  body.page-template-resources .documents-categories a {
    color: #fff; }

body.page-template-resources .documents-list table thead th {
  background: #246B80;
  color: #fff; }

body.page-template-resources .documents-list table tbody {
  background: #fff;
  color: #0E3D4B; }
  body.page-template-resources .documents-list table tbody .cat-header {
    background: #0E3D4B;
    color: #fff; }
  body.page-template-resources .documents-list table tbody tr.file .title a {
    font-weight: normal; }
  body.page-template-resources .documents-list table tbody tr.file .pdf a {
    color: #B54646;
    font-size: 0.75rem;
    letter-spacing: 0.05em; }

body.page-template-get-involved .content-header {
  padding-bottom: 4rem; }

body.page-template-get-involved section.events .event + .event {
  border-top: 1px solid rgba(36, 107, 128, 0.5); }

body.page-template-get-involved section.events .event .copy {
  max-width: 640px; }

body.page-template-get-involved section.events .event .meta {
  color: #0E3D4B; }
  body.page-template-get-involved section.events .event .meta .key {
    letter-spacing: 0.05em; }
  body.page-template-get-involved section.events .event .meta .event-btn {
    display: inline-block;
    background: #B54646;
    color: #fff;
    font-family: "Revelstoke Regular", monospace;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.875rem;
    padding: 0.6125rem 0.5rem 0.5rem 0.75rem;
    text-align: center;
    border-radius: 3px; }
    @media screen and (min-width: 768px) {
      body.page-template-get-involved section.events .event .meta .event-btn {
        font-size: 1rem; } }
    body.page-template-get-involved section.events .event .meta .event-btn:hover {
      text-decoration: none; }

body.page-template-get-involved aside.sidebar .contact-us {
  border: 0.25rem solid #0E3D4B; }

body.page-template-get-involved aside.sidebar .subscribe .headline h5,
body.page-template-get-involved aside.sidebar .contact-us .headline h5 {
  font-weight: bold; }

.blog .site-content {
  background: #F1F1EE; }

.posts-archive .year .headline h4 {
  font-weight: bold; }

.posts-archive .month + .month .month-header {
  border-top: 1px solid rgba(14, 61, 75, 0.1); }
  .posts-archive .month + .month .month-header:after {
    background: rgba(14, 61, 75, 0.1); }

.posts-archive .month + .month .post:first-of-type {
  border-top: 1px solid rgba(14, 61, 75, 0.1); }

.posts-archive .month + .year .headline {
  border-top: 1px solid rgba(14, 61, 75, 0.1); }

.posts-archive .month-header h5 {
  color: #B54646;
  font-family: "Revelstoke Regular", monospace;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1.25rem; }

.posts-archive .month .post + .post {
  border-top: 1px solid rgba(14, 61, 75, 0.1); }

.posts-archive .month .post .headline {
  padding-bottom: 1rem; }
  .posts-archive .month .post .headline h3 {
    font-size: 1.5rem;
    font-weight: 500; }

.posts-archive .month .post .excerpt .post-date {
  font-family: "Revelstoke Regular", monospace;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1rem;
  color: #B54646; }

.recent-posts article .info .meta .date span {
  font-family: "Revelstoke Regular", monospace;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #B54646;
  font-size: 0.75rem; }

body.single-post .site-content {
  background: #F1F1EE; }

body.single-post .post-article .article-header .date h4 {
  font-family: "Revelstoke Regular", monospace;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #B54646; }

body.single-post .post-article .article-header .meta .categories .headline h5 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Revelstoke Regular", monospace;
  text-transform: uppercase;
  letter-spacing: 0.05em; }

body.single-post .post-article .article-header .meta .categories .post-categories a {
  display: block;
  color: #B54646;
  border: 2px solid #B54646;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.6725rem;
  letter-spacing: 0.02em;
  padding: 0.5rem 0.5rem 0.4rem 0.5rem; }
  body.single-post .post-article .article-header .meta .categories .post-categories a:hover {
    text-decoration: none;
    background: #B54646;
    color: #F7F9FB; }
