.posts-archive {

    .year {
        .headline {
            h4 {
                font-weight: bold;
            }
        }
    }

    .month {
        & + .month {

            .month-header {
                border-top: 1px solid rgba(14, 61, 75, 0.1);;

                &:after {
                    background: rgba(14, 61, 75, 0.1);
                }
            }

            .post:first-of-type {
                border-top: 1px solid rgba(14, 61, 75, 0.1);;
            }         
        }

        & + .year {
            .headline {
                border-top: 1px solid rgba(14, 61, 75, 0.1);;
            }
        }

        &-header {
            h5 {
                color: $red;
                @include monospace;
                font-size: 1.25rem;
            }
        }

        .post {
            & + .post {
                border-top: 1px solid rgba(14, 61, 75, 0.1);;
            }

            .headline {
                padding-bottom: 1rem;
                h3 {
                    font-size: 1.5rem;
                    font-weight: 500;
                }
            }

            .excerpt {
                .post-date {
                    @include monospace;
                    font-size: 1rem;
                    color: $red;
                }
            }
        }
    }
}