@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-Book.eot");
  src: url("fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("fonts/CircularStd-Book.woff") format("woff"), url("fonts/CircularStd-Book.ttf") format("truetype"), url("fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-BookItalic.eot");
  src: url("fonts/CircularStd-BookItalic.eot?#iefix") format("embedded-opentype"), url("fonts/CircularStd-BookItalic.woff") format("woff"), url("fonts/CircularStd-BookItalic.ttf") format("truetype"), url("fonts/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-Bold.eot");
  src: url("fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/CircularStd-Bold.woff") format("woff"), url("fonts/CircularStd-Bold.ttf") format("truetype"), url("fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-BoldItalic.eot");
  src: url("fonts/CircularStd-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/CircularStd-BoldItalic.woff") format("woff"), url("fonts/CircularStd-BoldItalic.ttf") format("truetype"), url("fonts/CircularStd-BoldItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 700;
  font-style: italic;
}

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@font-face {
    font-family: 'Revelstoke Regular';
    src: url('fonts/revelstoke-regular-webfont.woff2') format('woff2'),
         url('fonts/revelstoke-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$circular: "CircularStd", sans-serif;
$crimson: 'Crimson Text', serif;
$revelstoke: 'Revelstoke Regular', monospace;