.blog {
    .site-content {
        background: $cream;
    }
}

@import 'template-parts/news/posts-archive';


.recent-posts {
    article {
        .info {
            .meta {
                .date {
                    span {
                        @include monospace;
                        color: $red;
                        font-size: 0.75rem;
                    }
                }
            }
        }
    }
}