.social-links {
    padding-top: 2rem;

    .link {
        a {
            .icon {
                &:before {
                    content: '';
                    display: block;
                    width: 1.25rem;
                    height: 1.25rem;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }

            &.facebook {
                .icon {
                    &:before {
                        background-image: url(images/icon-facebook-white.svg);
                        
                    }
                }
            }

            &.instagram {
                .icon {
                    &:before {
                        background-image: url(images/icon-instagram-white.svg);
                        
                    }
                }
            }

            &.twitter {
                .icon {
                    &:before {
                        background-image: url(images/icon-twitter-white.svg);
                        
                    }
                }
            }
        }
    }
}