.subscribe {
    background: $blue;
    color: $white;
    .headline {
        h5 {
            color: $white;
        }
    }


    form {

        .submit {
            input {
                background: $light-blue;
                color: $white;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                font-size: 0.8125rem;


            }
        }
    }
}