section.home-hero {
	.project-info {
		color: $blue;
		background: rgba(255, 255, 255, 0.5);

		@include desktop-small {
			background: none;
		}

		h2 {

		}

		h1 {

		}

		h5 {
			@include monospace;

		}
	}
}