section.events {

	.event {

		& + .event {
			border-top: 1px solid rgba(36, 107, 128, 0.5);
		}

		.copy {
			max-width: 640px;
		}

		.meta {
			color: $blue;

			.key {
				letter-spacing: 0.05em;
			}

			.event-btn {
				display: inline-block;
				background: $red;
				color: $white;
				@include monospace;
				font-size: 0.875rem;
				padding: 0.6125rem 0.5rem 0.5rem 0.75rem;
				text-align: center;
				border-radius: 3px;

				@include tablet {
					font-size: 1rem;
				}

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}